blockpulse-adf-74459/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "blockpulse-adf-74459"
		},
		"AzureDataLakeLinkService_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeLinkService'"
		},
		"bronze_to_silver_databricks_linkservice_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'bronze_to_silver_databricks_linkservice'"
		},
		"silver_to_gold_databricks_linkservice_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'silver_to_gold_databricks_linkservice'"
		},
		"AzureDataLakeLinkService_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://blockpulsest73150.dfs.core.windows.net/"
		},
		"CoingeckoRestLinkService_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&per_page=200"
		},
		"bronze_to_silver_databricks_linkservice_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1001-171937-mkql8shf"
		},
		"silver_to_gold_databricks_linkservice_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1003-234956-g3gx6iap"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/crypto_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Data From Coingecko",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"filePattern": "arrayOfObjects"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "CoingeckoRestAPI",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureDatalakeStorage",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Bronze To Silver Layer",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Copy Data From Coingecko",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/crypto-pipeline/bronze_to_silver"
						},
						"linkedServiceName": {
							"referenceName": "bronze_to_silver_databricks_linkservice",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Silver To Gold Layer",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Bronze To Silver Layer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/crypto-pipeline/silver_to_gold"
						},
						"linkedServiceName": {
							"referenceName": "silver_to_gold_databricks_linkservice",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-10-04T02:55:10Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CoingeckoRestAPI')]",
				"[concat(variables('factoryId'), '/datasets/AzureDatalakeStorage')]",
				"[concat(variables('factoryId'), '/linkedServices/bronze_to_silver_databricks_linkservice')]",
				"[concat(variables('factoryId'), '/linkedServices/silver_to_gold_databricks_linkservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatalakeStorage')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeLinkService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@concat('year=', formatDateTime(utcnow(), 'yyyy'), '/month=', formatDateTime(utcnow(), 'MM'), '/day=', formatDateTime(utcnow(), 'dd'), '/data.json')",
							"type": "Expression"
						},
						"fileSystem": "crypto-bronze"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeLinkService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CoingeckoRestAPI')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CoingeckoRestLinkService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CoingeckoRestLinkService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeLinkService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeLinkService_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeLinkService_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CoingeckoRestLinkService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('CoingeckoRestLinkService_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/bronze_to_silver_databricks_linkservice')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-4371144709273776.16.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('bronze_to_silver_databricks_linkservice_accessToken')]"
					},
					"existingClusterId": "[parameters('bronze_to_silver_databricks_linkservice_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/silver_to_gold_databricks_linkservice')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-4371144709273776.16.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('silver_to_gold_databricks_linkservice_accessToken')]"
					},
					"existingClusterId": "[parameters('silver_to_gold_databricks_linkservice_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		}
	]
}